{% extends "Shared/Layout.html" %}
{% block content %}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Success/Error Messages -->
    {% comment %} {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %} {% endcomment %}

    <!-- Include DataTables CSS -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">

<div class="card">
    <div class="card-header">
        <h2>Slot Details</h2>
    </div>
    <div class="card-body">
        <table id="slotsTable" class="table table-striped">
            <thead>
                <tr>
                    <th>Slot Id</th>
                    <th>Slot Name</th>
                    <th>Slot Description</th>
                    <th>Shift Date</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for slot in slots %}
                <tr>
                    <td>{{ slot.slot_id}}</td>
                    <td>{{ slot.slot_name }}</td>
                    <td>{{ slot.slot_description }}</td>
                    <td>{{ slot.shift_date }}</td>
                    <td>{{ slot.start_time }}</td>
                    <td>{{ slot.end_time }}</td>
                    <td>
                        <a href="{% url 'view_approve_salary' slot.slot_id %}" class="btn btn-primary">View Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% if messages %}
  {% for message in messages %}
    <script>
    Swal.fire({
      title: "{{ message.tags }}",
      text: "{{ message }}",
      icon: "{{ message.tags }}",
      confirmButtonText: "OK",
    });
  </script>
  {% endfor %}
{% endif %}
    

<!-- Include jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- Include DataTables JS -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<!-- Initialize DataTables -->
<script>
    $(document).ready(function () {
        $('#slotsTable').DataTable({
            "paging": true,        // Enable pagination
            "searching": true,     // Enable search/filter functionality
            "ordering": true,      // Enable column sorting
            "info": true           // Show table information
        });
    });
</script>

    {% comment %} <script>
        $(document).ready(function () {
            $('#slotsTable').DataTable();  // Initialize DataTables.js
        });
    </script> {% endcomment %}
{% endblock %}