{% extends "Shared/Layout.html" %} 
{% block username %}{{ username }}{% endblock %}
{% block content %}
{% load static %}
{% csrf_token %}

<link href="{% static 'css/masters.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

<!-- jQuery (required first) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css"/>

<!-- DataTables JS -->
<script type="text/javascript" src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>


<html lang="en">
<head>
    <title>Rate Card</title>
</head>

    <div>
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h2 class="mb-0">Rate Card</h1>
                <a href="{% url 'rate_card_create' %}" class="btn btn-primary">Create New Rate Card</a>
            </div>
            
            <br>
            <div class="table-responsive">
            <table style="width: 100%;" class="table" id="dataTable">
                <thead>
                  <tr>
                      <th>Card Name</th>
                      <th>Client Name</th>
                      <th>Location Name</th>
                      <th>Designation</th>
                      <th>Level</th>
                      <th>Actions</th>
                  </tr>
                  <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                  </tr>
              </thead>
              <tbody>
                  {% for card in rate_cards %}
                      {% for site in card.related_sites %}
                          <tr>
                              <td>{{ card.card_name }}</td>
                              <td>{{ site.client_id.company_name }}</td>
                              <td>{{ site.site.site_name }}</td>
                              <td>{{ site.designation }}</td>
                              <td>{{ site.level }}</td>
                              <td>
                                  <a href="{% url 'rate_card_view' card.pk %}">View</a> |
                                  <a href="{% url 'rate_card_edit' card.pk %}">Edit</a> |
                                   <a href="{% url 'rate_card_view' card.pk %}?type=assign">Assign</a> |
                                  <a href="{% url 'rate_card_edit' card.pk %}?type=change">Change</a>
                              </td>
                          </tr>
                      {% endfor %}
                  {% endfor %}
              </tbody>

            </table>
          </div>
        </div>
    </div>
</body>

    
<script type="text/javascript">
  $(document).ready(function () {
    $("#dataTable").DataTable({
      //order: [[0, 'desc']],
      "ordering": false,
      initComplete: function () {
        this.api()
          .columns()
          .every(function () {
            var column = this;
            var select = $(
              '<select style="width:100%;border-radius: 10px;background-color:whitesmoke ;color: black;"><option value="">All</option></select>'
            )
              .appendTo($(column.header()).empty())
              .on("change", function () {
                var val = $.fn.dataTable.util.escapeRegex($(this).val());
                column.search(val ? "^" + val + "$" : "", true, false).draw();
              });
            column
              .data()
              .unique()
              .sort()
              .each(function (d, j) {
                var ce = d;
                if (
                  ce.includes("<a") ||
                  ce.includes("span") ||
                  ce.includes("<input") ||
                  ce.includes("select") ||
                  ce.includes("textarea")
                ) {
                } else {
                  select.append('<option value="' + d + '">' + d + "</option>");
                }
              });
          });
      },
      pageLength: 10,
      lengthMenu: [
        [5, 10, 25, 50, 100, 200, 300, 400, 500, -1],
        [5, 10, 25, 50, 100, 200, 300, 400, 500, "All"],
      ],
    });
  });
</script>

{% load static %}
    
    <!-- Show success/error messages -->
<script src="{% static 'sweetalert2/dist/sweetalert2.min.js' %}"></script>
{% if messages %}
{% for message in messages %}
  <script>
  Swal.fire({
    title: "{{ message.tags }}",
    text: "{{ message }}",
    icon: "{{ message.tags }}",
    confirmButtonText: "OK",
  });
</script>
{% endfor %}
{% endif %} 
</html>
{% endblock %}
