{% extends "Shared/Layout.html" %} 
{% block username %}{{ username }}{% endblock %}
{% block content %}
{% load static %}
{% csrf_token %}

<link href="{% static 'css/masters.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rate Card</title>
</head>
<body>

    <div>
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <h2 class="mb-0">Rate Card</h1>
                <a href="{% url 'rate_card_create' %}" class="btn btn-primary">Create New Rate Card</a>
            </div>
            
            <br>
            <table border="1">
                <thead>
                    <tr>
                        <th>Card Name</th>
                        <th>Item Name</th>
                        <th>Four Amount</th>
                        <th>Nine Amount</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for card in rate_cards %}
                    <tr>
                        <td>{{ card.card_name }}</td>
                        <td>{{ card.item_id.item_name }}</td>
                        <td>{{ card.four_hour_amount }}</td>
                        <td>{{ card.nine_hour_amount }}</td>
                        <td>
                            <a href="{% url 'rate_card_view' card.pk %}">View</a> |
                            <a href="{% url 'rate_card_edit' card.pk %}">Edit</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    
</body>

{% load static %}
    
    <!-- Show success/error messages -->
<script src="{% static 'sweetalert2/dist/sweetalert2.min.js' %}"></script>
{% if messages %}
{% for message in messages %}
  <script>
  Swal.fire({
    title: "{{ message.tags }}",
    text: "{{ message }}",
    icon: "{{ message.tags }}",
    confirmButtonText: "OK",
  });
</script>
{% endfor %}
{% endif %} 
</html>
{% endblock %}
