{% extends "Shared/Layout.html" %} {% block username %}{{username}}{% endblock %}
{% block content %}
{% load static %}
{% csrf_token %}

 <!-- Custom styles for this html-->
 <link href="{% static 'css/masters.css' %}" rel="stylesheet" type="text/css" >
 <link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" >
 <link href="{% static 'css/uploadModal.css' %}" rel="stylesheet" type="text/css" >
 <link rel="stylesheet" type="text/css" href="{% static 'css/tooltips.css' %}" />

 <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
 <!-- Include DataTables CSS -->
 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
 <!-- Include DataTables JS -->
 <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

<style>
.css_labels{
  font-size:1.2em;
  padding-top:3%;
} 
</style>

 <!-- Begin Page Content -->

  <div class="row">
      <div class="col-lg-12">
          <!-- Index Card -->
        <div class="card mb-4" style="padding: 10px;border: 2px solid #b3b3b3;border-radius: 15px;margin-left:0px;">

              <div class="row col-md-12" style="margin-bottom:2%">
                <div class="col-md-3" style="margin-top:2%">
                    <h3> <strong style="color: #4e73df;"> Test Details</strong></h3>
                </div> 
                <div class="col-md-3">
                </div>
                <div class="col-md-3" style="margin-top:2%">
                   <form method="GET" action="/show_form">
                         <button type="submit"  class="btn btn-sm btn-primary" style="width:25%; padding:1% 1%;border-radius:15px;font-size:1em;">Create</button>
                    </form>
                </div>
                <div class="col-md-3">
                </div>
              </div>    

              <form method="POST" action="{% url 'download_candidate_excel' %}">
                {% csrf_token %}
                <div class="row col-md-12" style="margin-top:1%;margin-bottom:1%;">
                    <!-- <div class="col-md-1" style="text-align:right;">
                      <label class="mb-0 css_labels">Post - </label>
                    </div> -->
                   
                    <div class="col-md-2"> 
                      <select style="border-radius:10em;" name="post" id="dp" class="form-control select" placeholder="Post">
                        <option value="" selected>Post</option>
                        {% for item in dpl %}
                            <option value="{{ item.0 }}">{{ item.1 }}</option>
                        {% endfor %}
                      </select>                 
                    </div>
                    <!-- <div class="col-md-1" style="text-align:right;">
                      <label class="mb-0 css_labels" >Skillset - </label>
                    </div> -->
                    <div class="col-md-2"> 
                      <select style="border-radius:10em;" name="skillset" id="skillset" class="form-control select">
                        <option value="" selected>Skillset</option>
                        {% for item2 in performance_level_list %}
                            <option value="{{ item2.0 }}">{{ item2.1 }}</option>
                        {% endfor %}
                      </select>                 
                    </div> 
                    <!-- <div class="col-md-2" style="text-align:right;">
                      <label class="mb-0 css_labels" style="margin-bottom:4%;">IT Performance - </label>
                    </div> -->
                    <div class="col-md-2"> 
                      <select style="border-radius:10em;" name="it_performance" id="it_performance" class="form-control select">
                        <option value="" selected>IT Performance</option>
                        {% for item2 in performance_level_list %}
                            <option value="{{ item2.0 }}">{{ item2.1 }}</option>
                        {% endfor %}
                      </select>                 
                    </div> 
                    <!-- <div class="col-md-1" style="text-align:right;">
                      <label class="mb-0 css_labels">Created At - </label>
                    </div> -->
                    <div class="col-md-2"> 
                      <select style="border-radius:10em;width:70%;" name="created_at" id="created_at" class="form-control select">
                        <option value="" selected>Created At</option>
                        {% for item1 in created_at %}
                        <option style="border-radius: 10px; padding: 0.5%; width: 100%" value="{{ item1.0 }}">
                          {{ item1.1 }}
                        </option>
                        {% endfor %}
                      </select>                 
                    </div>                      
                    <!-- <div class="col-md-2"> 
                      <div style="text-align:center;">
                        <button style="width:50%; padding:3% 2%;border-radius:15px" type="button" onclick="get_results()" class="btn btn-sm btn-primary">View</button>
                      </div>                
                    </div>
                    <div class="col-md-2"> 
                      <div style="text-align:center;">
                        <button style="width:50%; padding:3% 2%;border-radius:15px" type="submit" class="btn btn-sm btn-primary">Excel Download</button>
                      </div>                 
                    </div>                                                                   -->

                    <!-- <div class="col-md-1">               
                    </div>                     -->
                    <div class="col-md-1"> 
                      <div style="text-align:center;">
                        <button title="Search" style="width:60%; padding:1.4% 0.5%;border-radius:15px;font-size:1.2em" type="button" onclick="get_results()" class="btn btn-sm btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
                      </div>                
                    </div>
                    <div class="col-md-1"> 
                      <div style="text-align:left;">
                        <button title="Excel Download" style="width:60%; padding:1.4% 0.5%;border-radius:15px;font-size:1.2em" type="submit" class="btn btn-sm btn-primary"><i class="fa-solid fa-file-excel"></i></button>
                      </div>                 
                    </div>                      

                </div>

                <!-- <div class="row col-md-12" style="margin-top:3%;margin-bottom:2%;">
                    <div class="col-md-6"> 
                      <div style="text-align:right;">
                        <button style="width:25%; padding:0.8% 0.5%;border-radius:15px" type="button" onclick="get_results()" class="btn btn-sm btn-primary">View</button>
                      </div>                
                    </div>
                    <div class="col-md-5"> 
                      <div style="text-align:left;">
                        <button style="width:25%; padding:1% 0.5%;border-radius:15px" type="submit" class="btn btn-sm btn-primary">Excel Download</button>
                      </div>                 
                    </div>                     
                </div>  -->

              </form> 

              <div class="" id="partial_data" style=" margin-top: 0.5%;">

              </div>
        </div>
      </div>  
  </div>

 
 {% load static %}
 
 
 {% if messages %}
   {% for message in messages %}
     <script>
     Swal.fire({
       title: "{{ message.tags }}",
       text: "{{ message }}",
       icon: "{{ message.tags }}",
       confirmButtonText: "OK",
     });
   </script>
   {% endfor %}
 {% endif %}
 <script>
  document.addEventListener('DOMContentLoaded', function() {
    var formsElement = document.getElementById('forms');
    if (formsElement) {
      formsElement.addEventListener('change', function() {
        var selectedEntity = this.value;
        window.location.href = '/masters?entity=form_master&sf=' + encodeURIComponent(selectedEntity);
      });
    } else {
      console.error("Element with ID 'forms' not found on this page.");
    }
  });
</script>

<script>
  $(document).ready(function() {
    get_results_onpageload();
  });
</script>  

<script>
  function get_results() {

    let dp = $("#dp").val();
    let skillset = $("#skillset").val();
    let it_performance = $("#it_performance").val();     
    let created_at = $("#created_at").val();
    
    if (!dp && !skillset && !it_performance && !created_at) {
        Swal.fire({
            icon: 'warning',
            title: 'Missing Parameters',
            text: 'Please enter at least one parameter.',
            confirmButtonText: 'OK'
        });
        return false;
    }    

    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

      var formData = new FormData();
      formData.append('dp', dp);
      formData.append('skillset', skillset);
      formData.append('it_performance', it_performance);      
      formData.append('created_at', created_at);      


      $.ajax({
        url: 'partial_details_index',
        type: 'POST',
        data: formData,
        headers: {
          'X-CSRFToken': csrftoken 
        },
        processData: false,
        contentType: false,
        success: function (response) {
          debugger;

          $('#partial_data').html('');
          $('#partial_data').html(response.table);
        },
        error: function (error) {
          $('#loader').hide();
          Swal.fire({
            title: "Some Error Occurred!",
            text: "Please Try Again !!",
            icon: "error",
            showConfirmButton: false,
            timer: 3000,
          });
        }
      });
    }

</script>

<!-- THIS RUNS WHEN PAGE LOADS -->

<script>
  function get_results_onpageload() {

    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
 
      $.ajax({
        url: 'partial_details_index_onpageload',
        type: 'POST',
        headers: {
          'X-CSRFToken': csrftoken 
        },
        processData: false,
        contentType: false,
        success: function (response) {
          debugger;

          $('#partial_data').html('');
          $('#partial_data').html(response.table);
        },
        error: function (error) {
          $('#loader').hide();
          Swal.fire({
            title: "Some Error Occurred!",
            text: "Please Try Again !!",
            icon: "error",
            showConfirmButton: false,
            timer: 3000,
          });
        }
      });
    }

</script>

 <!-- <script type="text/javascript">
     $(document).ready(function () {
       $("#dataTable").DataTable({
         //order: [[0, 'desc']],
         "ordering": false,
         initComplete: function () {
           this.api()
             .columns()
             .every(function () {
               var column = this;
               var select = $(
                 '<select style="width:100%;border-radius: 10px;background-color:whitesmoke ;color: black;"><option value="">All</option></select>'
               )
                 .appendTo($(column.header()).empty())
                 .on("change", function () {
                   var val = $.fn.dataTable.util.escapeRegex($(this).val());
                   column.search(val ? "^" + val + "$" : "", true, false).draw();
                 });
               column
                 .data()
                 .unique()
                 .sort()
                 .each(function (d, j) {
                   var ce = d;
                   if (
                     ce.includes("<a") ||
                     ce.includes("span") ||
                     ce.includes("<input") ||
                     ce.includes("select") ||
                     ce.includes("textarea")
                   ) {
                   } else {
                     select.append('<option value="' + d + '">' + d + "</option>");
                   }
                 });
             });
         },
         pageLength: 10,
         lengthMenu: [
           [5, 10, 25, 50, 100, 200, 300, 400, 500, -1],
           [5, 10, 25, 50, 100, 200, 300, 400, 500, "All"],
         ],
       });
     });
   </script> -->
 <!-- End of Main Content -->


 {% endblock %}
 
 