

{% block content %}
{% load static %}

<link href="{% static 'css/masters.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/activebtn.css' %}" rel="stylesheet" type="text/css" >

<link href="{% static 'css/selectize.min.css' %}" rel="stylesheet" type="text/css" >
<!-- Selectize.js JS -->
<script src="{% static 'js/selectize.min.js' %}"></script>



{% if type == "edit"%}
<div class="card shadow" style="border: 2px solid #b3b3b3; border-radius: 15px; padding: 20px;" >
{% endif%}
<div class="row">
    {% for field in fields %}
    {% if forloop.first or forloop.counter0|divisibleby:4 %}
        <div class="w-100"></div> {# Ensures a new row every 4 fields #}
    {% endif %}

    <div class="col-md-3 mb-3">
        <input type="hidden" name="form_name" value="{{ form.name }}">
        <input type="hidden"  id="form_data_id" name="form_data_id" value="{{form_data_id}}">
        <input type="hidden" id="form_id" name="form_id_{{ field.id }}" value="{{ field.form_id }}">
        <input type="hidden" id="action_id" name="action_id_{{ field.id }}" value="{{ field.action_id }}">
        <input type="hidden" id="field_id" name="field_id_{{ field.id }}" value="{{ field.id }}">
        <label class="fw-bold">{{ field.label }}</label>
        <input type="hidden" id = "type" name = "type" value ="{{type}}">
      
        {% if field.field_type == "select" %}
            <select class="form-control select" name="field_{{ field.id }}"
                {% for attr in field.attributes %} {{ attr }} {% endfor %}>
                <option value="" selected disabled>Select</option>
                {% for option in field.values %}
                    <option value="{{ option }}" {% if option == field.value %} selected {% endif %}>{{ option }}</option>
                {% endfor %}
            </select>

        {% elif field.field_type == "select multiple" %}
            <select class="form-control select_multiple" id="multiple" name="field_{{ field.id }}" multiple
                {% for attr in field.attributes %} {{ attr }} {% endfor %}>
                {% for option in field.values %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>

        {% elif field.field_type == "radio" %}
            <div class="d-flex flex-wrap">
                {% for option in field.values %}
                    <div style="font-size:18px;" class="form-check me-2">
                        <input class="form-check-input" type="radio" name="field_{{ field.id }}" value="{{ option }}" id="radio_{{ field.id }}_{{ forloop.counter }}"
                            {% if option == field.value %} checked {% endif %}
                            {% for attr in field.attributes %} {{ attr }} {% endfor %}>
                        <label class="form-check-label" for="radio_{{ field.id }}_{{ forloop.counter }}">{{ option }}&nbsp;&nbsp;</label>
                    </div>
                {% endfor %}
            </div>

        {% elif field.field_type == "checkbox" %}
            <br>
            <label class="switch">
                <input type="checkbox" name="field_{{ field.id }}"
                    {% if field.value == "on" %} checked {% endif %}
                    {% for attr in field.attributes %} {{ attr }} {% endfor %}>
                <span class="slider"></span>
            </label>

        {% elif field.field_type == "file" %}
            {% comment %} <input type="file" accept="{{ field.accept }}" name="field_{{ field.id }}" class="form-control custom-file-input"
                {% for attr in field.attributes %} {{ attr }} {% endfor %}> {% endcomment %}
                <div class="file-upload-wrapper" style="position: relative; display: inline-block; width: 100%;">
                    <input type="file" accept="{{ field.accept }}"  name="field_{{ field.id }}"
                           class="form-control custom-file-input" style="padding-right: 100px;" id="file_input_{{ field.id }}"
                           {% for attr in field.attributes %} {{ attr }} {% endfor %}>
                
                    <i class="fa-solid fa-eye eye-icon"
                           onclick="showFile(document.getElementById('file_input_{{ field.id }}'))">
                    </i>
                </div>
                
        {% elif field.field_type == "file multiple" %}
            <div class="file-upload-wrapper" style="position: relative; display: inline-block; width: 100%;">
                <input type="file" accept="{{ field.accept }}"name="field_{{ field.id }}" multiple
                       class="form-control custom-file-input"style="padding-right: 100px;" id="file_input_{{ field.id }}"
                       {% for attr in field.attributes %} {{ attr }} {% endfor %}>
            
                <i class="fa-solid fa-eye eye-icon"
                       onclick="showFile(document.getElementById('file_input_{{ field.id }}'))">
                </i>
            </div>
                  

        {% elif field.field_type == "textarea" %}
            <textarea class="form-control custom-textarea" name="field_{{ field.id }}" rows="1" value={{ field.value }}
                {% for attr in field.attributes %} {{ attr }} {% endfor %}>{{ field.value }}</textarea>
        
        {% elif field.field_type == "text" %}
            <input type="text" class="form-control" name="field_{{ field.id }}"  value="{{ field.value }}"
                {% if field.accept %} maxlength="{{ field.accept }}" {% endif %} 
                placeholder="{% if field.accept %}Enter up to {{ field.accept }} characters{% else %}Enter text{% endif %}"
                {% for attr in field.attributes %} {{ attr }} {% endfor %}>
            
                
        {% else %}
            <input type="{{ field.field_type }}" class="form-control" name="field_{{ field.id }}" value="{{ field.value }}"
                {% for attr in field.attributes %} {{ attr }} {% endfor %}>
        {% endif %}

    
    </div>
{% endfor %}



</div>
{% if type == "edit"%}
</div>
{% endif%}



<script>
    $(document).ready(function() {
        $('.select_multiple').selectize({
            plugins: ['remove_button'],
            delimiter: ',',
            placeholder: "Select Options",
            persist: false,
            create: false,
            selectOnTab: false, 
            maxItems: null,
            onInitialize: function() {
                var control = this;
                control.clear();
            }
        });
    });

</script>

<script>

    function showFile(input) {
        debugger;
        const files = input.files;
    
        if (!files || files.length === 0) {
            Swal.fire({
                icon: 'info',
                title: 'No Files Selected',
                text: 'Please select files to view them.',
                confirmButtonText: 'Okay'
            });
            return;
        }
    
        let tableHTML = `
            <table style="width:100%; text-align:left; border-collapse: collapse;">
                <thead>
                    <tr>
                        <th style="border-bottom: 1px solid #ccc; padding: 8px;">Sr No.</th>
                        <th style="border-bottom: 1px solid #ccc; padding: 8px;">File Name</th>
                    </tr>
                </thead>
                <tbody>
        `;
    
        Array.from(files).forEach((file, index) => {
            tableHTML += `
                <tr>
                    <td style="padding: 8px;">${index + 1}</td>
                    <td style="padding: 8px;">${file.name}</td>
                </tr>
            `;
        });
    
        tableHTML += `</tbody></table>`;
    
        Swal.fire({
            title: 'Selected Files',
            html: tableHTML,
            width: '600px',
            confirmButtonText: 'Close'
        });
    }
    
    function removeNewFile(rowId, index) {
        document.getElementById(rowId)?.remove();
        if (newFiles) {
            newFiles.splice(index, 1); // remove the file from array
        }
    
        // Optional: if all files removed, show "No files available"
        if (newFiles.length === 0 && (!data.files || data.files.length === 0)) {
            const tableBody = document.getElementById("your-table-body-id");
            tableBody.innerHTML = `
                <tr>
                    <td colspan="4" style="padding: 8px; text-align: center; color: gray;">
                        No files available
                    </td>
                </tr>
            `;
        }
    }
    

  
</script>



{% if messages %}
{% for message in messages %}
  <script>
  Swal.fire({
    title: "{{ message.tags }}",
    text: "{{ message }}",
    icon: "{{ message.tags }}",
    confirmButtonText: "OK",
  });
</script>
{% endfor %}
{% endif %}

{% endblock %}