{% extends "Shared/Layout.html" %}
{% block content %}
{% load static %}
{% csrf_token %}
<link href="{% static 'css/masters.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/uploadExcel.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/uploadModal.css' %}" rel="stylesheet" type="text/css" >
<link rel="stylesheet" type="text/css" href="{% static 'css/tooltips.css' %}" />

<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<!-- Include DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<!-- Include DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">


<!DOCTYPE html>
<html>
<head>
    <title>Create Attendance</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    {% comment %} <h1 >Upload Attendance</h1>
    <br>
    <br>
    <br>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ excel_form.as_p }}
        <div class="row">
            <div class="col-md-4">
        <label for="company_id">Company:</label>

                <select class="form-control" id="company_id" name="company_id">
                    <option value="">Select Company</option>
                    {% for company in companies %}
                    <option value="{{ company.company_id }}">{{ company.company_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="site_id">Site:</label>
                <select id="site_id" class="form-control" name="site_id">
                    <option value="">Select Site</option>
                </select>
        
            </div>
            <div class="col-md-4">
                <label for="slot_id">Slot:</label>
                <select id="slot_id" name="slot_id" class="form-control">
                    <option value="">Select Slot</option>
                </select>
            </div>
        </div>
    

       <br>

       
<div  style="text-align: center;">
    <button type="submit" class="btn btn-primary">UPLOAD</button>

</div>
    </form> {% endcomment %}

    <div class="container mt-5" style="max-width: 1500px;">
        <div class="card">
            <div class="card-header">
                <h2>Upload Attendance</h2>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    
                    <div class="row mb-3">
                        <div class="col-md-4">
                            <label for="company_id">Company:</label>
                            <select class="form-control" id="company_id" name="company_id">
                                <option value="">Select Company</option>
                                {% for company in companies %}
                                <option value="{{ company.company_id }}">{{ company.company_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="site_id">Site:</label>
                            <select id="site_id" class="form-control" name="site_id">
                                <option value="">Select Site</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label for="slot_id">Slot:</label>
                            <select id="slot_id" name="slot_id" class="form-control">
                                <option value="">Select Slot</option>
                            </select>
                        </div>
                    </div>
                    
                    <div class="row mb-3">
                        <div class="col-md-4">
                            {{ excel_form.as_p }}
                        </div>

                        <div class="col-md-4">
                            <button type="button" class="btn btn-primary" id="download-sample-btn">Download Sample</button>
                        </div>
                         {% comment %} <div class="col-md-4">
                            <a href="{% url 'download_sample' %}" class="btn btn-primary" id="download-sample-btn">Download Sample</a>
                        </div>  {% endcomment %}
                        
                    </div>
                    
                        
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">UPLOAD</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    

    <script>
        $(document).ready(function() {
            $('#company_id').change(function() {
                var company_id = $(this).val();
                $.ajax({
                    url: '{% url "get_sites" %}',
                    data: {
                        'company_id': company_id
                    },
                    success: function(data) {
                        console.log(data);
                        $('#site_id').empty();
                        $('#site_id').append('<option value="">Select Site</option>');
                        $.each(data, function(index, site) {
                            $('#site_id').append('<option value="' + site.site_id + '">' + site.site_name + '</option>');
                        });
                    }
                });
            });

            $('#site_id').change(function() {
                var site_id = $(this).val();
                var company_id = $('#company_id').val();
                $.ajax({
                    url: '{% url "get_slots" %}',
                    data: {
                        'site_id': site_id,
                        'company_id': company_id
                    },
                    success: function(data) {
                        $('#slot_id').empty();
                        $('#slot_id').append('<option value="">Select Slot</option>');
                        $.each(data, function(index, slot) {
                            $('#slot_id').append('<option value="' + slot.slot_id + '">' + slot.slot_name + '</option>');
                        });
                    }
                });
            });
        });
    </script>

<script>
    document.getElementById('download-sample-btn').addEventListener('click', function () {
        debugger;
        const companyId = document.getElementById('company_id').value;
        const siteId = document.getElementById('site_id').value;
        const slotId = document.getElementById('slot_id').value;

        // Perform AJAX request
        $.ajax({
            url: "{% url 'download_sample' %}",
            method: "GET",
            data: {
                company_id: companyId,
                site_id: siteId,
                slot_id: slotId,
            },
            xhrFields: {
                responseType: 'blob' // To handle file download
            },
            success: function (data, status, xhr) {
                const filename = xhr.getResponseHeader('Content-Disposition')
                    .split('filename=')[1].replace(/"/g, '');
                const link = document.createElement('a');
                link.href = window.URL.createObjectURL(data);
                link.download = filename;
                link.click();
            },
            error: function (xhr, status, error) {
                alert('Error occurred while downloading the file. Please try again.');
            }
        });
    });
</script>

</body>
</html>



{% endblock %}
