{% extends "Shared/Layout.html" %}
{% block content %}
{% load static %}
<link href="{% static 'css/masters.css' %}" rel="stylesheet" type="text/css" >
<link href="{% static 'css/table.css' %}" rel="stylesheet" type="text/css" >
<link rel="stylesheet" type="text/css" href="{% static 'css/tooltips.css' %}" />
 

<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
<!-- Include DataTables CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<!-- Include DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<!-- Selectize css -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.default.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js"></script>
<!-- Include DataTables CSS -->
{% comment %} <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<!-- Include DataTables JS -->
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> {% endcomment %}
<head>
    <title>Employee Rate Card Details</title>
    <style>
        /* Style for right-aligning the link */
        .right-align {
            text-align: right;
            margin-bottom: 10px;
        }
       
    </style>
</head>

<body>

  {% if type == "index"%}
  <div>
    <div class="card">
      <div class="card-header d-flex justify-content-between align-items-center">
        <h1 class="mb-0">Attendance Records</h1>
        <form method="GET" action="/attendance_error">
          <input type="hidden" name="entity" value="{{ entity }}">
          <input type="hidden" name="type" value="err">
          <button class="btn_err">
           <div class="sign_err">
             <svg viewBox="0 0 512 512"><path d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm0 392c-17.67 0-32-14.33-32-32 0-17.67 14.33-32 32-32s32 14.33 32 32c0 17.67-14.33 32-32 32zm32-128c0 17.67-14.33 32-32 32s-32-14.33-32-32V176c0-17.67 14.33-32 32-32s32 14.33 32 32v96z"/></svg>
           </div>
           <div class="text_err">Error Logs</div>
          </button> 
        </form>
        
        <a href="{% url 'approve_attendance'%}" class="btn btn-primary">Approve Attendance</a>
        
        <a href="{% url 'create_attendance' %}" class="btn btn-primary">Upload Attendance</a>
    </div>
    
      <br>
      <br>
      <div class="table-responsive">
      <table style="width: 100%;" class="table" id="dataTable">
        <thead>
            <tr>
                <th hidden>ID</th>
                <th>Employee ID</th>
                <th>Company</th>
                <th>Site</th>
                <th>Slot</th>
                <th>Date</th>
                <th>In</th>
                <th>Out</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
              <td hidden></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
          </tr>
        </thead>
          <tbody>
            {% for record in attendance_records %}
            <tr>
                <td hidden >{{ record.encrypted_id }}</td>
                <td>{{ record.employee_id }}</td>
                <td>{{ record.company_id }}</td>
                <td>{{ record.site_id }}</td>
                <td>{{ record.slot_id }}</td>
                <td>{{ record.attendance_date }}</td>
                <td>{{ record.attendance_in }}</td>
                <td>{{ record.attendance_out }}</td>
                <td>{{ record.status.status_name }}</td>
                  <td style="display: flex; gap: 10px;">
                    <a href="{% url 'edit_attendance' record.encrypted_id %}" class="edit-button">
                      <svg class="edit-svgIcon" viewBox="0 0 512 512">
                          <path d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z"></path>
                      </svg>
                    </a>
                  </td>
            </tr>
            {% endfor %}
    </tbody>
  </table> 
</div>
</div>
  </div>
  {% elif type == "err"%}
  <div class="card mb-4" style="zoom:85%" >
    <div class="card-body">
       <h1 style="color:#B12121;font-weight:bold">
        <u> Error Logs</u>
      </h2>
     
      <div class="table-responsive">
         <table style="width: 100%;"  class="table"  id="dataTable">   
            <thead>
             <tr>
               {% for col in header %}
                       <th style="font-weight: bold; color: black; {% if col.1 != "" %} width: {{ col.1 }};{% endif %}">{{ col.0 }}</th>
               {% endfor %}
           </tr>
           <tr>
               {% for col in header %}
                       <th> </th>
               {% endfor %}
           </tr>
            </thead>
            <tbody>
             {% for row in data %}
                 <tr style="color:black">
                     <td>{{ forloop.counter }}</td>
                     {% for cell in row %}
                       <td>
                         {% if 'Employee' in cell or 'Worksite' in cell or 'The employee with ID' in cell or 'The worksite' in cell or 'The company' in cell%}
                             <span class="badge badge-danger" style="font-size: 16px;">{{ cell }}</span>
                         {% elif 'Total' in cell %}
                             <span class="badge badge-dark" style="font-size: 16px;">{{ cell }}</span>
                         {% else %}
                             {{ cell }}
                         {% endif %}
                       </td>
                     {% endfor %}
                 </tr>
             {% endfor %}
         </tbody>
         </table>
    </div>
  </div>

  {% endif %}
</body> 



{% load static %} 
    
    <!-- Show success/error messages -->
<script src="{% static 'sweetalert2/dist/sweetalert2.min.js' %}"></script>
{% if messages %}
{% for message in messages %}
  <script>
  Swal.fire({
    title: "{{ message.tags }}",
    text: "{{ message }}",
    icon: "{{ message.tags }}",
    confirmButtonText: "OK",
  });
</script>


{% endfor %}
{% endif %} 

<script type="text/javascript">
  $(document).ready(function () {
    $("#dataTable").DataTable({
      //order: [[0, 'desc']],
      "ordering": false,
      initComplete: function () {
        this.api()
          .columns()
          .every(function () {
            var column = this;
            var select = $(
              '<select style="width:100%;border-radius: 10px;background-color:whitesmoke ;color: black;"><option value="">All</option></select>'
            )
              .appendTo($(column.header()).empty())
              .on("change", function () {
                var val = $.fn.dataTable.util.escapeRegex($(this).val());
                column.search(val ? "^" + val + "$" : "", true, false).draw();
              });
            column
              .data()
              .unique()
              .sort()
              .each(function (d, j) {
                var ce = d;
                if (
                  ce.includes("<a") ||
                  ce.includes("span") ||
                  ce.includes("<input") ||
                  ce.includes("select") ||
                  ce.includes("textarea")
                ) {
                } else {
                  select.append('<option value="' + d + '">' + d + "</option>");
                }
              });
          });
      },
      pageLength: 10,
      lengthMenu: [
        [5, 10, 25, 50, 100, 200, 300, 400, 500, -1],
        [5, 10, 25, 50, 100, 200, 300, 400, 500, "All"],
      ],
    });
  });
</script>
{% endblock %}

